{
  "presets": [
    ["@babel/env", {
      "modules": false
    }]
  ],
  "plugins": [
    "babel-plugin-espower",
    [
      "@babel/plugin-transform-runtime",
      {
         "corejs": false,
         "helpers": false,
         "regenerator": true,
         "useESModules": true
      }
    ],
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }]
  ]
}